@{
    ViewBag.Title = "Home Page";
}

<br /><br />

<div class="row">
    <div class="col-md-6">
        <p>

            O que é Lorem Ipsum?

            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.

        </p>
    </div>
    <div class="col-md-6">
        <div class="box box-primary box-solid">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-3">
                        &nbsp;
                    </div>
                    <div class="col-xs-7">
                        <p>
                            É a primeira vez aqui ?
                        </p>
                        <br />
                        
                        <p>
                            Cadastre-se para poder ter acesso aos dados disponíveis&nbsp;</br>
                            <a href="http://localhost:52923/Home/Cadastro" class="btn btn-default">Fazer Cadastro</a>
                        </p>
                        <br />
                        <p>
                            Possui conta ?&nbsp;&nbsp;</br>
							<a href="http://localhost:52923/Login/Login" class="btn btn-default">Fazer Login</a>
                        </p>
                       
                    </div>
                    <div class="col-xs-2">
                        &nbsp;
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div></div>
</div>